.logo img {
    width: 150px; 
    height: auto; 
    display: block; 
}


html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}

.imgCursos{
    border-radius: 12px;
    width: 50%;
    padding: 0;
    overflow: hidden;
    position:relative;
}
.imgCursos img{
    width: 100%;
    border-radius: 12px;
    display: block;
    transition: all 0.3s linear;
    margin-top: 50px;
    padding-top: 60px;
}

#curso-Text{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: 900;
}




/* Estilo para a barra de navegação */
.Cabeca {
    margin: auto;
    width:99% ;
    background-color:  #045cac;
    padding:10px;
    overflow: hidden;
}

/* Estilo para o menu */
.menu {
    list-style:none;
    float: right;
    margin: 0;
    padding: 0;
}

/* Estilo para os itens do menu */
.menu li {
    display: inline;
    padding: 5px;
    margin-right: 15px;
    color: #ffffff; 
}

/* Estilo para hover nos itens do menu */
.menu li:hover {
    background-color:  #08348c;
    color: rgb(255, 247, 247);
    border-radius: 2rem;
    cursor: crosshair;
}

/* Estilo para a logo */
.logo {
    float: left;
    padding: 2px;
    font-size: 30px;
}




main{
    height: 80vh;
}


 footer{
    color: #08348c;
    width: 100%;
    text-align: center;
}

*{
    font-family: 'Courier New', Courier, monospace;
    margin:0;
    padding:0;
    box-sizing: border-box;
    letter-spacing: 1px; 

}

.footer_content{
    background-color:#045cac;
    color: #e8e8e8;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem, 5rem;

}

.footer_contatos h1{
    margin-bottom: 0.75rem;
}

.footer_icons{
    display: flex;
    gap:2rem;
    margin-top: 3rem;

   
}



.footer_icons .footer_link:hover{
    opacity: 0.8;
}

.footer_icons .footer_link i{
    font-size: 1.25rem;
}

.footer_list{
    display: flex;
    flex-direction: column ;
    gap: 0.5rem;
    list-style:none ;
}

.footer_list .footer_link{
    color: #e8e8e8;
    transition: all 0.4s
}

.footer_contatos h1{

   
}

.footer_list .footer_link:hover{

color:#000000
}

.footer_sub{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer_sub p{
    color:#ffffff ;
}

#input_gp{
    display: flex;
    align-items:flex;
    color:#000000;
    background-color: #fffcfc;
    border-radius: 4px;
}

#input_gp input{
    width: 100%;
    padding: 0.75rem;
    all: unset;
}

#input_gp button{
    background-color: #fff7f7;
    border:none ;
    color: #000000;
    padding: 0px 1.25rem ;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor:pointer;
    transition: all 0.4s

}

#input_gp button:hover{
    opacity: 0.8;
}

#footer_copy{
    justify-content: center;
    display: flex;
    color:#f2eded;
    background-color: #2f2f2f;
    font-size: 0.9rem;
    padding:1.5rem;
    font-weight: 100;

}



@media screen and (max-width: 768px) {
    .footer_content{
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 426px) {
    .footer_content{
        padding:3rem 2rem;
        grid-template-columns: repeat(2, 1fr);
    }
}


