
body{
    font-family: 'Courier New', Courier, monospace;
    background: #045cac;
  
}



.content-cadastro{ 
    background-color:rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    color: azure;
    box-shadow: 0 0 10px #000000;
    padding: 80px;
    
}

option{
    padding: 15px;
    border:none;
    outline: none;
    font-size: 15px;
}

option:hover{
    box-shadow: 0 0 10px #ffffff;  
    transition: all 0.4s;
}


label{
    padding: 15px;
    border:none;
    outline: none;
    font-size: 15px;
}

input{
    padding: 15px;
    border:none;
    outline: none;
    font-size: 15px;
   
}

input:hover{
    box-shadow: 0 0 10px #ffffff;  
    transition: all 0.4s;
}

button{
    background-color: rgb(54, 62, 62);
    border: none;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    width: 100%;
}

button:hover{
    transition: all 0.4s;
    box-shadow: 0 0 10px #ffffff;
    cursor:unset;
}

footer{
    color: #08348c;
    width: 100%;
    text-align: center;
}

*{
    font-family: 'Courier New', Courier, monospace;
    margin:0;
    padding:0;
    box-sizing: border-box;
    letter-spacing: 1px; 

}

.footer_content{
    background-color:#045cac;
    color: #e8e8e8;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem, 5rem;

}

.footer_contatos h1{
    margin-bottom: 0.75rem;
}

.footer_icons{
    display: flex;
    gap:2rem;
    margin-top: 3rem;

   
}



.footer_icons .footer_link:hover{
    opacity: 0.8;
}

.footer_icons .footer_link i{
    font-size: 1.25rem;
}

.footer_list{
    display: flex;
    flex-direction: column ;
    gap: 0.5rem;
    list-style:none ;
}

.footer_list .footer_link{
    color: #e8e8e8;
    transition: all 0.4s
}



.footer_list .footer_link:hover{

color:#000000
}

.footer_sub{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer_sub p{
    color:#ffffff ;
}

#input_gp{
    display: flex;
    align-items:flex;
    color:#000000;
    background-color: #fffcfc;
    border-radius: 4px;
}

#input_gp input{
    width: 100%;
    padding: 0.75rem;
    all: unset;
}

#input_gp button{
    background-color: #fff7f7;
    border:none ;
    color: #000000;
    padding: 0px 1.25rem ;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor:pointer;
    transition: all 0.4s

}

#input_gp button:hover{
    opacity: 0.8;
}

#footer_copy{
    justify-content: center;
    display: flex;
    color:#f2eded;
    background-color: #2f2f2f;
    font-size: 0.9rem;
    padding:1.5rem;
    font-weight: 100;

}



@media screen and (max-width: 768px) {
    .footer_content{
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 426px) {
    .footer_content{
        padding:3rem 2rem;
        grid-template-columns: repeat(2, 1fr);
    }
}


