.logo img {
    width: 150px; 
    height: auto; 
    display: block; 
}

/* Estilo para a barra de navegação */
.Cabeca {
    margin: auto;
    width:99% ;
    background-color:  #045cac;
    padding:10px;
    overflow: hidden;
}

/* Estilo para o menu */
.menu {
    list-style:none;
    float: right;
    margin: 0;
    padding: 0;
}

/* Estilo para os itens do menu */
.menu li {
    display: inline;
    padding: 5px;
    margin-right: 15px;
    color: #ffffff; 
}

/* Estilo para hover nos itens do menu */
.menu li:hover {
    background-color:  #08348c;
    color: rgb(255, 247, 247);
    border-radius: 2rem;
    cursor: crosshair;
}

/* Estilo para a logo */
.logo {
    float: left;
    padding: 2px;
    font-size: 30px;
}


.Corpo{
 
   display: flex;
}

.Cursos{
    padding: 10px 40px;
}

.imgCursos{
    border-radius: 12px;
    padding: 0;
    overflow: hidden;
    position:relative;
}

.imgCursos img{
    width: 100%;
    display: block;
    transition: all 0.3s linear;
}

.imgCursos h4{
    color:#e8e8e8;
    font-size: 60px;
    font-size: 16px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    position: absolute;   
    bottom: 0; 
    left:20px
}

.imgCursos:hover{
    box-shadow: 0 0 8px #000000;
}
.imgCursos:hover img{
    scale:1.1;
    transition: all 0.3s linear;
}



/* footer{
    color: #08348c;
    width: 99%;
}

.footer_content{
    background-color: #08348c;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem, 5rem;

}

.footer_contatos h1{
    margin-bottom: 0.75rem;
}

.footer_icons{
    display: flex;
    gap:2rem;
    margin-top: 1.5rem;
}

.footer_icons .footer_link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #08348c;
    border-radius: 50%;
    transition: all 0.4s;

}

.footer_icons .footer_link:hover{
    opacity: 0.8;
}



#Contato{
    background-color: #08348c;
}
#zap{
    background-color: #25d366;

}
 */

